Sec. 24-7.1. - Adoption of Water Control Map; amendments; general requirements. 

(a)  Adoption of Water Control Map; purpose and intent. The Board of County Commissioners hereby adopts the Water Control Map shown on Exhibit 2, effective October 28, 2022, certified by the Clerk of the Board as a portion of this chapter, incorporated herein by reference, and transmitted to the custody of the Department; full scale copies of the Water Control Map shall be maintained on file with the Department. 

(1)  The purpose of the Water Control Map is to show the locations of current and planned water control facilities, including but not limited to canals, levees, dams, control structures, pump stations, drainage divides, and other drainage features of the Miami-Dade County Water Control system. 

(2)  The Water Control Map supersedes the amended plat of Miami-Dade County Water Control Plan recorded in Plat Book 126 at Page 39-1, 39-2 and 39-3 of the Public Records of Miami-Dade County. 

(b)  General requirements applicable to water control facilities. 

(1)  Secondary canal banks shall be elevated to the highest of: 

(i)  County Flood Criteria; 

(ii)  Surface water levels from the projected 25-year, 72-hour storm event, and future sea level rise projections for the year 2060, based on the Intermediate High curve projections promulgated by the National Oceanic and Atmospheric Administration (NOAA); 

(iii)  Elevations as dictated by the County public works manual; 

(iv)  Existing topography; or 

(v)  Higher regulatory standards such as those required within cut and fill basins. 

(2)  Design and construction of water control facilities shall be done in such a manner as to comply with all applicable surface water quality standards. 

(3)  Drainage from neighboring properties into any County water control facility shall not be permitted unless approved in writing by the Director upon a determination that such drainage will not detrimentally affect such water control facility. 

(c)  Information presented on the recorded Water Control Map is for illustrative purposes only. Contractors, engineers, developers, agencies, and other users of the Map should consult the full scale copies of the Water Control Map maintained on file with the Department, which shall also be available online. 

(d)  Map interpretations. Required interpretations of the Water Control Map shall be made by the Director, subject to review of administrative decisions as provided in this chapter. 

(Ord. No. 22-141, § 3, 10-18-22)